# Virtual environment
venv/

# Uploaded files
static/uploads/*

# Python cache files
__pycache__/
*.pyc

# IDE and editor files
.idea/
*.code-workspace

# macOS files
.DS_Store

# Windows files
Thumbs.db